# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm/VSCode settings
.idea/
.vscode/

# Logs
*.log

# Pickle files
*.pkl
*.pt

# Data
*.h5
*.sqlite

# macOS
.DS_Store
**/.DS_Store

# Node / React frontend
node_modules/
react-frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn-integrity
dist/
build/
.cache/
.parcel-cache/
coverage/
.env.local
.env.development.local
.env.test.local
.env.production.local


.react-frontend/